<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manishchawley.computehelper">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
            <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBSxvmS-auoqHvH963FoWNqzWCXciG-IWs" />
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/android_api_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- Main Activity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".render.FacebookLoginActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Current location service -->
        <service
            android:name=".provider.CurrentLocationService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".provider.UserConnectService"
            android:exported="false" />

        <activity
            android:name=".render.UserDisplayActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".render.UserLoginActivity" />
        <activity android:name=".render.TripListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".render.TripDetailsActivity" android:screenOrientation="portrait" />
        <activity android:name=".render.CommuterListActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".render.ChatListActivity" />
        <activity android:name=".render.CommuterDetailsActivity"></activity>
    </application>

</manifest>